.card-menu-container {
  background-color: var(--color-palette-rosa);
  border-radius: 1em 1em 0em 0em;
  width: 100%;
  height: 2em;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}

.dropdown-content {
  display: none;
  padding: 0.5em;
  margin-left: 0.25em;
  z-index: 2;
}

.dropdown-content > button {
  background-color: var(--color-palette-rosa);
  color: var(--color-palette-blue);
  cursor: pointer;
  margin-right: 0.5em;
  border-radius: 0.5em;
  border: none;
}

.dropdown-content > button:hover {
  background-color: var(--color-palette-mocha);
}

.visible {
  display: flex;
}

.card-menu-btn {
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 0.85em;
  right: 0.85em;
}

.card-menu-btn div {
  background-color: var(--color-palette-blue);
  border-radius: 50%;
  width: 0.35em;
  height: 0.35em;
  margin: 0.05em;
}
