.toggle {
  background-color: var(--color-palette-rosa);
  cursor: pointer;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  border-radius: 50%;
}

.toggle:hover {
  background-color: var(--color-palette-mocha);
}
