li {
  list-style-type: none;
  flex-direction: column;
  position: relative;
  display: flex;
}

.column {
  background-color: var(--color-palette-mocha);
  color: var(--color-palette-mocha);
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
}

.column-header {
  color: var(--color-palette-blue);
  display: flex;
  margin: 0em 1em;
  align-items: center;
}

.column-title {
  flex-grow: 1;
}

.list {
  padding: 0;
  min-width: 16em;
}

.card {
  z-index: 1;
  background-color: var(--color-palette-red);
  box-shadow: 0.25em 0.25em var(--color-palette-blue);
  margin: 1em;
  padding: 1em;
  max-width: 16em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.add-btn {
  background-color: var(--color-palette-blue);
  color: var(--color-palette-mocha);
  border-color: var(--color-palette-brown);
  border-radius: 1em;
  border-width: 0.25em;
  padding: 0.25em 1em;
  cursor: pointer;
}

.card-header {
  z-index: -1;
  background-color: var(--color-palette-rosa);
  margin: 0em 1em;
  border-radius: 1em;
  height: 0em;
}

.card-header-open {
  z-index: 0;
  margin-bottom: -3em;
  height: 4.25em;
}

.btn-container {
  margin: 0.75em;
  display: flex;
}

.btn-small {
  z-index: 2;
  border-radius: 1em;
  border-width: 0.25em;
  cursor: pointer;
}

.card-header-btn {
  background-color: var(--color-palette-mocha);
  border-color: var(--color-palette-brown);
  position: absolute;
  padding: 0.25em;
  width: 2em;
  right: 1em;
  top: 1em;
}

.delete-btn {
  border: none;
  background-color: var(--color-palette-mocha);
  color: var(--color-palette-blue);
  font-size: 0.75em;
  margin-right: 0.5em;
}

.edit-btn {
  border: none;
  background-color: var(--color-palette-mocha);
  color: var(--color-palette-blue);
  font-size: 0.75em;
}
