li {
  list-style-type: none;
}

.column {
  background-color: var(--color-palette-mocha);
  color: var(--color-palette-mocha);
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
}

.column-title {
  margin-left: 1em;
  color: var(--color-palette-blue);
}

.list {
  padding: 0;
  min-width: 16em;
}

.card {
  background-color: var(--color-palette-red);
  box-shadow: 0.25em 0.25em var(--color-palette-blue);
  margin: 1em;
  padding: 1em;
  max-width: 16em;
  border-radius: 1em;
}
