html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--color-palette-blue);
  font-family: 'Bubbler One', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

#root {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

:root {
  --color-palette-blue: #495867;
  --color-palette-brown: #c18c5d;
  --color-palette-red: #ce796b;
  --color-palette-rosa: #e7ad99;
  --color-palette-mocha: #ecc8af;
}
